<?xml version="1.0"?>
<launch>
  <!-- Start RVIZ simulator -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/multiple_robots.rviz"/>

  <!-- Map server initialization, outside namespaces -->
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(find contextualizer)/maps/factory.yaml">
        <param name="frame_id" value="/map"/>
  </node>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- TODO: Add Factory Task Manager bringup nodes -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->





  <!-- TODO: add robot display (change frames of URDF) -->

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--
    Definition of mobile robots, having for each robot namespace:
    - Nav launcher (laser and mobile base simul, amcl)
    - Move base (path (local & global) planner, costmaps)
   -->
   <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <group ns="dashgo_0">
    <include file="src/navigation/launch/nav.launch">
      <arg name="ns" value="dashgo_0" />
      <arg name="initial_pose_x" value="0.591092" />
      <arg name="initial_pose_y" value="4.537635" />
    </include>
    <include file="src/navigation/launch/move_base.launch">
      <arg name="ns" value="dashgo_0" />
    </include>
    <node pkg="mobile_robot" name="dashgo" type="dashgo.py" output="screen">
      <param name="ns" value="dashgo_0"/>
    </node>
  </group>

  <group ns="dashgo_1">
    <include file="src/navigation/launch/nav.launch">
      <arg name="ns" value="dashgo_1" />
      <arg name="initial_pose_x" value="0.571774" />
      <arg name="initial_pose_y" value="3.399817" />
    </include>
    <include file="src/navigation/launch/move_base.launch">
      <arg name="ns" value="dashgo_1" />
    </include>
    <node pkg="mobile_robot" name="dashgo" type="dashgo.py" output="screen">
      <param name="ns" value="dashgo_1"/>
    </node>
  </group>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Static robots (action servers and robot description) -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- <group ns="assembly">
    <node pkg="static_robot" name="work_station" type="work_station.py" output="screen" />
      <param name="ns" value="assembly"/>
    </node>
    <include file="$(find workspace_description)/launch/original_display.launch">
  </group>

  <group ns="boxing">
    <node pkg="static_robot" name="work_station" type="work_station.py" output="screen" />
      <param name="ns" value="boxing"/>
    </node>
    <include file="$(find workspace_description)/launch/original_display.launch">
  </group> -->
</launch>