<?xml version="1.0"?>
<launch>
  <!--Rviz-->
  <!-- Map server initialization, outside namespaces -->
  <arg name="map_file" default="$(find contextualizer)/maps/factory.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(find contextualizer)/maps/factory.yaml">
        <param name="frame_id" value="/map"/>
  </node> 
  <rosparam file="$(arg map_file)" command="load" ns="map" />
  <group ns="dashgo_0">
    <include file="nav.launch">
      <arg name="ns" value="dashgo_0" />
      <arg name="initial_pose_x" value="10.6852264404" />
      <arg name="initial_pose_y" value="9.6620464325" />
    </include>
    <include file="move_base.launch">
      <arg name="ns" value="dashgo_0" />
    </include>
  </group>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/plc_dashgo.rviz"/>
  <node pkg="goal_provider" name="dashgogoal" type="goaldashgorviz.py" output="screen"> </node>

</launch>
