<?xml version="1.0"?>
<launch>
  <!--Rviz-->
  <!-- Map server initialization, outside namespaces -->
  <arg name="map_file" default="$(find contextualizer)/maps/factory.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(find contextualizer)/maps/factory.yaml">
        <!-- <param name="frame_id" value="/base_footprint"/> -->
  </node> 
  <rosparam file="$(arg map_file)" command="load" ns="map" />
  <group ns="dashgo_0">
    <include file="nav.launch">
      <arg name="ns" value="" />
      <arg name="initial_pose_x" value="0.591092" />
      <arg name="initial_pose_y" value="4.537635" />
    </include>
    <include file="move_base.launch">
      <arg name="ns" value="" />
    </include>
    <!-- <node pkg="goal_provider" name="dashgogoal" type="goaldashgo2.py" output="screen"> </node>-->
  </group>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/plc_dashgo.rviz"/>

</launch>
