<?xml version="1.0"?>
<?ignore
<launch> 
  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
    <!-- Map server initialization, outside namespaces -->
  <arg name="map_file" default="$(find contextualizer)/maps/factory.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <rosparam file="$(arg map_file)" command="load" ns="map" />
    <arg name="initial_pose_x" value="8.69504451752" />
    <arg name="initial_pose_y" value="10.4509954453" />
    <arg name="initial_pose_a" default="1.5708"/>  
     <include file="nav.launch">
      <arg name="ns" value="" />
    <arg name="initial_pose_x" value="8.69504451752" />
    <arg name="initial_pose_y" value="10.4509954453" />
    <arg name="initial_pose_a" default="1.5708"/> 
    </include>
  <include file="move_base.launch">
      <arg name="ns" value="" />
    </include>
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/plc_dashgo.rviz"/>
  <node pkg="goal_provider" name="dashgogoal" type="goaldashgorviz.py" output="screen"> </node>
</launch>
?>
  <launch>
    <!--Rviz-->
    <!-- Map server initialization, outside namespaces -->

    <arg name="map_file" default="$(find contextualizer)/maps/factory.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server"
          args="$(find contextualizer)/maps/factory.yaml">
          <param name="frame_id" value="/map"/>
    </node> 
    <rosparam file="$(arg map_file)" command="load" ns="map" />
    <group ns="dashgo_0">
      <include file="nav.launch">
        <arg name="ns" value="dashgo_0" />
        <arg name="initial_pose_x" value="8.69504451752" />
        <arg name="initial_pose_y" value="10.4509954453" />
        <arg name="initial_pose_a" default="1.5708"/> 
      </include>
      <include file="move_base.launch">
        <arg name="ns" value="dashgo_0" />
      </include>
    </group>
    <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/plc_dashgo.rviz"/>
    <!-- <node pkg="goal_provider" name="dashgogoal" type="goaldashgorviz.py" output="screen"> </node> -->

  </launch>
