<launch>
  <arg
    name="model" />
  <arg
    name="ns" 
    default="" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find robot_description_robert)/urdf/robot_description.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  <node pkg="tf" type="static_transform_publisher" name="lidar_tf_publisher" args="0.19 0.01 0.20 0 0 0 1 $(arg ns)/base_link $(arg ns)/laser_link 100" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher">
    <param
      name="tf_prefix"
      value="$(arg ns)" />
  </node>
</launch>